*.vcd
*.fst
*.fst.hier
*.ghw
*.wlf
*.fsdb
*.vpd
obj_dir/
.pytest_cache/
*.log
*.vvp
*.png
.claude/
sim/*
notes.txt
.vscode/
lint.f
verible.filelist
*__pycache__
sim_build
results.xml
.surfer
*.ron
#makefile generates the imemory and dmemory.hex
dv/core/*.hex 
